/* catalog mobile */

@media (max-width: 1080px) {
  .hero-stat-container {
    flex-wrap: wrap;
  }

  .stat-column:nth-child(1),
  .stat-column:nth-child(2) {
    flex: 1;
  }

  .stat-column:nth-child(2) {
    margin-right: none;
    border-right: none;
  }

  .stat-column:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid var(--color-white-26);
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .category-container {
    flex-wrap: wrap;
  }

  .category-caption {
    margin-top: 30px;
    flex-basis: 100%;
  }

  .catalog-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }

  .catalog-header {
    max-width: 100%;
  }

  .catalog-text {
    max-width: 100%;
    font-size: var(--font-17-16-size);
    line-height: var(--font-17-16-line-height);
  }
}

@media (max-width: 635px) {
  .category-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .category-button {
    width: 257px;
  }
}
