/* mobile */
@media (max-width: 1300px) {
  .interior-container {
    flex-direction: column;
  }

  .scheme-images:nth-child(1) {
    /* width: 741px*/
    width: clamp(358px, calc(358px + 383 * ((100vw - 380px) / (1440 - 380))), 741px);
    /*height: 580px;*/
    /*height: clamp(580px, calc(500px + 40 * ((100vw - 380px) / (1440 - 380))), 540px);*/
  }

  .expedition-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  :root {
    --page-width: 100vw;
    --content-width: clamp(348px, calc(348px + 360 * ((100vw - 380px) / (768 - 380))), 708px);
    --padding-bottom: 30px;
  }

  /*
  .header {
    justify-self: center;
  }
  */

  .menu-container,
  .theme-container,
  .menu-button-container {
    display: none;
  }

  span.burger-link::before {
    top: 50px;
  }

  .burger-button-container {
    display: block;
  }

  .burger-container {
    display: flex;
  }

  .header-h1 {
    font-size: clamp(46px, calc(46px + 7 * ((100vw - 380px) / (768 - 380))), 53px);
    font-weight: 400;
  }

  .header-h2 {
    font-size: clamp(43px, calc(43px + 5 * ((100vw - 380px) / (768 - 380))), 48px);
    font-weight: 400;
  }

  .route-columns {
    flex-direction: column;
    justify-content: flex-start;
  }

  .route-header {
    max-width: 368px;
  }

  .route-content {
    max-width: 100%;
  }

  .catamaran-header-container {
    flex-direction: column;
  }

  .catamaran-text {
    max-width: 100%;
  }

  .day-content-text {
    font-weight: 400;
  }
}

@media (max-width: 635px) {
  .hero-cta {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-shedule-container {
    flex-wrap: wrap;
  }

  .hero-shedule-item:nth-child(1),
  .hero-shedule-item:nth-child(2) {
    width: 50%;
  }

  .hero-shedule-item:nth-child(3) {
    border-top: 1px solid var(--color-dark-12);
    flex-basis: 100%;
  }

  .slider-controls-container {
    flex-direction: column;
  }

  .features-container {
    flex-direction: row;
    gap: 16px;
  }

  .feature-item-container {
    max-width: 358px;
  }
}
